
html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}




.lily {
    font-family: 'Lily Script One', cursive;

}

section {
    min-height: 100vh;

}

#top {
    background: red;
    background: #222 url(designjournal.jpg) no-repeat center center fixed;
    height: 100%;
    text-align: left;
    display:block;

    background-size: cover;
    min-height: 100vh;

 }


#title {
    color: #DF5C68;
    font-weight:;
 }

#textholder {
    margin-top: 100px;
    color: white;
    font-size:5em;
    text-align: center;
    background:rgba(90,90,90,0.8);
    width:60%;
    align-content: center;
    padding: 25px;
    border-radius: 50px 5px;

}
.pink {
    background-color: #DF5C68;
    color:white;
    margin: 3px;
    width: 100px;
    height: 100px;
    padding: 4px;

}

.pink-small {
    background-color: #DF5C68;
    color:white;
    margin: 3px;
    width: 50px;
    height: 40px;
    padding: 2px;
    text-align: center

}

.pinktext{
    color: #DF5C68;
}

.topnav {
    position: absolute;
    bottom: 0;
    right:0;
    text-align: center;
    margin-right: 25px;
    margin-bottom: 25x;


}


a:link, a:visited, a:hover, a:active,  a:focus {
    text-decoration: none;
    color: inherit;
}

#about {
    border-top: 17px solid rgb(90,90,90);
    padding-top: 35px;
}

blockquote {
    font-size: 2em;
}

.gray {
    color: gainsboro;
}

.floating-menu {
font-family: sans-serif;
background: ;
padding: 5px;
width: 75px;
z-index: 100;
position: fixed;
bottom: 0px;
right: 0px;
}

#portfolio {
    background-color: gainsboro;
    padding: 25px;



}

.card {
    border-radius: 7px;
    background: #666;
    padding: 5px
}

.card-header {
    font-size: .8em;
    font-weight: bold;
    color: white;
    border-bottom: 15px;
    padding:5px;
    margin: 4px;
    margin-bottom: 0px;
    background-color: #DF5C68;
}
.card-header:first-child {
    border-radius: .25rem;
}
.card-columns {
    width: 90%
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
.card-img {
    width:100%;

}

.card-body {
    padding: 5px;

}

.card-text {
    color: white;
}



.box {
    background: white;
    padding: 7px;
    width: 200px;
    max-height: 200px;
    margin:5px;
    border-radius:5;
    display:table-cell;

}
.box img{
    max-height: 100%;
    max-width: 100%;
}
.clicked {

    position:fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    width:30em;
    height:30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;

}




.leftabout {

}

.socnav {
    width:200px ;
}
