
html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}




.lily {
    font-family: 'Lily Script One', cursive;

}



#top {
    background: red;
    background: #222 url(crumpledpaper.png) no-repeat center center fixed;
    height: 100%;
    text-align: left;
    display:flex;
    padding:40px;
    background-size: cover;
    min-height: 100vh;

 }


#title {
    color: black;
 }
